@charset "utf-8";
/* CSS Document */
/********************************************************************
	article.css
*********************************************************************/


/*==========================================================================
	記事エリア
============================================================================*/
.articleArea {
  overflow: hidden;
  word-break: break-all;
}
.articleArea p {
  margin: 10px 0px;
}
.articleArea ol {
	margin: 10px 0px 15px 0px;
  background-color: #f2f2f2;
  padding: 20px;
}
.articleArea ol li {
	list-style-type: decimal;
	margin-left: 35px;
}
.articleArea ul {
	margin: 10px 0px 15px 0px;
  background-color: #f2f2f2;
  padding: 20px;
}
.articleArea ul li {
	list-style-type: disc;
	margin-left: 35px;
}
.articleArea img {
	width: 100%;
	max-width: 100%;
	height:auto;
  margin-bottom: 15px;
}
/*****************************************************
	768px以上【tablet】
******************************************************/
@media print, screen and (min-width: 768px) {
  
}
/*****************************************************
	1024px以上【PC】
******************************************************/
@media print, screen and (min-width: 1024px) {
  
}

