@charset "utf-8";
/* CSS Document */
/********************************************************************
	sitemap.css
*********************************************************************/


/*==========================================================================
	サイトマップ
============================================================================*/
.sitemap_list {
  margin-bottom: 50px;
  padding: 50px 50px 30px 50px;
  background-color: #f2f2f2;
  list-style: none;
}
.sitemap_list li {
  margin-bottom: 20px;
  padding-left: 1.0em;
  text-indent: -1.0em;
}
.sitemap_list li:before {
  font-family: FontAwesome;
  content: '\f0da'; /* アイコンのunicode */
  color: #199c69;
  padding-right: 5px;
}
/*****************************************************
	768px以上【tablet】
******************************************************/
@media print, screen and (min-width: 768px) {
  
  .sitemap_list li {
    padding: 0px 10px;
    box-sizing: border-box;
    width: 50%;
    float: left;
  }
 
}
/*****************************************************
	1024px以上【PC】
******************************************************/
@media print, screen and (min-width: 1024px) {
  
}

